/* color start */
.bg-transparent {
    background-color: transparent;
}

.bg-red {
    background-color: rgb(170, 1, 1);
}

.bg-blue {
    background-color: rgb(2, 2, 199);
}

.bg-green {
    background-color: #008000;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-violet {
    background-color: #ee82ee;
}

.bg-black {
    background-color: #000;
}

.color-white {
    color: #fff
}

.bg-white {
    background-color: #fff;
}

.color-black {
    color: #000;
}

.color-gray {
    color: #808080;
}

/* color end */

.bg-primary {
    background-color: #74c6b4;
}

.color-primary {
    color: #74C69D;
}

.bg-bage {
    background-color: #EEEEEE;
}