/* font strt */
.font-1 {
    font-size: .5rem;
}

.font-2 {
    font-size: 1rem;
}

.font-3 {
    font-size: 1.3rem;
}

.font-4 {
    font-size: 1.5rem;
}

.font-5 {
    font-size: 1.8rem;
}

.font-6 {
    font-size: 2rem;
}

.font-7 {
    font-size: 2.5rem;
}

.font-8 {
    font-size: 3rem;
}

.font-9 {
    font-size: 3.5rem;
}

.font-10 {
    font-size: 15rem;
}


.font-light {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.font-extra-bold {
    font-weight: 900;
}

/* font end */